.card {
  background: blue;
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 250px;
  text-align: left;
  color: white;
}

.card > .content {
  font-size: 20px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}


